---
title: Arron Mabrey
---

header
  img.avatar src=gravatar_url('arron@mabreys.com', 200)
  markdown:
    # Arron Mabrey

    Rails Developer in Orlando, Fl.

    [arron@mabreys.com](mailto:arron@mabreys.com){:target="_blank"}

    [@arronmabrey](http://twitter.com/arronmabrey){:target="_blank"}

    [My GitHub Profile](http://github.com/arronmabrey){:target="_blank"}

    [My Family "The Mabreys"](http://mabreys.com){:target="_blank"}



section
  markdown:
    ## Welcome.

    I'm Arron Mabrey, twenty-eight years old with a [fun, happy wife and 2 playful children](http://mabreys.com){:target="_blank"}.

    I try to live life doing what is right. To be as open and honest as I can.

    I love craftsmanship. I love listening to people excitedly describe their obsession
    whether it be woodworking, the perfect cup of coffee or making knives.


    I've had the good fortune of working alongside some of the most talented folks
    I've ever meet at [Envy Labs](http://envylabs.com){:target="_blank"} / [Code School](http://codeschool.com){:target="_blank"} as well as [Modest Giant](http://modestgiant.co/){:target="_blank"} and
    [Encounter Creative](http://encountercreative.com){:target="_blank"}. Together *we&apos;ve* made and shipped great things daily.

    ### The Formative Years

    ![The Original Hipster](images/arron-original-hipster.jpg)
    *&mdash; The Original Hipster arronmabrey circa 1989*

    ##### I know what you're thinking to yourself...

    >
    I bet at ***12 years old*** this kid couldn't be bothered to wear headphones while trying to listen to hip music on his Compact Disc Player.
    And he seems ambitious enough to take a handful of money into Radio Shack and walk-out with the needed book, equipment and eletronic components to
    build ***from scratch*** his own 9-volt powered personal stereo amplifier.




    It's a silly story no question about it; but I believe it eloquently describes the kind of person I am *and* how I go about the problems I aim to solve.

    You see I love learning; expanding myself and my experiences, ultimately for the sake of sharing with others.

    When I set my mind on something, I find a way to make it work.

    Ask anyone who knows me. My number one conversation starter growing up and still to this day is &mdash; &ldquo;Hey look what I just figured out!&rdquo;

    In summary, whether it's in the form of building 9-volt amplifiers, capturing imagery for top brands, or shipping code to hundreds of thousnads of users daily.
    ***...I love making things.***

    **-- Arron Mabrey**
